.terminal-body {
    margin-top: 10px;
    background: #000;
}

#terminal-body-full {
    height: 500px;
}

.terminal-text {
    color: lawngreen;
    margin-left: 10px;
}

.terminal-input {
    border-radius: 5px;
    margin-top: 5px;
    padding-right: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;


}

#submit{
    cursor: pointer;
    margin-bottom: 5px;
}

#terminal-body-embed {
    background-color: #000000;
}

#terminal-input-embed {
    width: 250px;
}

#terminal-input {
    width: 600px;
}

.terminal-input:focus {
    text-decoration: none;
    outline:none;
    box-shadow: none;
}